@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  border: none;
  outline: none;
}

.clearfix {
  clear: both;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.8;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
  color: $gray1;
  &.overflow-hidden {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Saira Semi Condensed", sans-serif;
  margin-bottom: 0.977rem;
  font-weight: 500;
  line-height: 1.25;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: $secondary;
}
::-webkit-scrollbar-track {
  width: 10px;
  background: $white;
}
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

ol[type="a"] {
  list-style-type: lower-alpha;
  margin-left: 15px;

  li {
    list-style: inherit;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

ol[type="1"] {
  list-style-type: decimal;
  margin-left: 15px;

  li {
    list-style: inherit;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

/* font-size */
.f-26 {
  font-size: 26px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-22 {
  font-size: 22px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-14 {
  font-size: 14px !important;
}

/* color */
.text-white {
  color: #fff !important;
}

/* utility classes */
.full-width {
  display: block;
  width: 100% !important;
}

.block {
  display: block;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* font weight */
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

/* margin */

.no-margin {
  margin: 0 !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

/* padding */
.ptb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ptb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ptb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.ptb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.plr-10 {
  padding: 0 10px;
}

.plr-15 {
  padding: 0 15px;
}

.plr-20 {
  padding: 0 20px;
}

.no-padding {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 30px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

/* section-padding */
.section-padding {
  padding: 80px 0;

  @media screen and (max-width: 767px) {
    padding: 50px 0;
  }
}

/* loader */
@-webkit-keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes loader32 {
  0% {
    transform: translate(-50%, 10px);
  }
  40% {
    transform: translate(-50%, -90px);
    width: 30px;
    height: 30px;
  }
  50% {
    transform: translate(-50%, -100px);
    width: 30px;
    height: 30px;
  }
  65% {
    transform: translate(-50%, -90px);
    width: 30px;
    height: 30px;
  }
  75% {
    transform: translate(-50%, 0px);
    width: 30px;
    height: 30px;
  }
  100% {
    transform: translate(-50%, 10px);
    width: 50px;
    height: 15px;
  }
}
@keyframes shadow32 {
  0% {
    transform: scale(0.9, 0.9);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.9, 0.9);
    opacity: 1;
  }
}

/* owl-carousel */

.owl-carousel {
  .owl-dots {
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-top: 24px;
  }
  button {
    &.owl-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $gray1;
      border: none;
      font: inherit;
      color: transparent;
      transition: 0.8s ease;

      &.active {
        background: $primary;
      }
    }
  }
}

/*  */
.btn {
  font-size: 16px;
  background: $primary;
  border-radius: 12px;
  color: $white;
  padding: 15px 30px;
  outline: none;
  box-shadow: none;
  border: none;
  font-weight: 600;

  &:hover {
    background: $secondary;
    color: $white;
  }

  &.btn-secondary {
    background: $secondary;

    &:hover {
      border-color: $primary;
      color: $white;
    }
  }
}

/* bg */
.bg-light-primary {
  background: $primaryLight;
}

/*  */
.section-heading {
  margin-bottom: 30px;

  h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 0 auto 20px;
    color: $black;

    span {
      color: $primary;
      font-weight: 700;
    }
  }

  p {
    color: $gray1;
    font-size: 18px;
    margin: 0 auto;
  }
}

/* page-banner */
.page-banner {
  background: $primary;
  padding: 40px 0;

  h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .lead {
    font-size: 16px;
    font-weight: 500;
  }
  .list-unstyled {
    font-weight: 500;
  }

  a {
    color: $white;
  }

  .img-wrap {
    text-align: center;

    img {
      height: 180px;
    }
  }
  .tech-feature-list {
    .fas {
      color: $white;
    }
  }
}

.section {
  padding: 60px 0;
}
