$primary: #497bda;
$primaryDrak: #444;
$primaryLight: #eaf1fb;
$secondary: #808284;
$black: #000;
$white: #fff;
$gray: #ccc;
$gray1: #343333;
$gray2: #999;
$gray3: #eee;
$lightGray: #fbfbfb;
$darkGray: #3c3c3c;
$lightSky: #f1f7ff;
